<h2>{{ _('Edit Post') }}</h2>
<form id="form-create-post" class="post-form form-horizontal" action="/api/post/{{ post.id }}" method="PUT">
    <div class="alert alert-error result hide"></div>
    <input type="hidden" name="type" value="post" />
    {{ xsrf_form_html() }}
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="post-title">{{ _('Title') }}</label>
            <div class="controls">
                <input class="input-xxlarge" type="text" id="post-title" name="title" value="{{ escape(post.title) }}" required="required" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="post-slug">{{ _('Slug') }}</label>
            <div class="controls">
                <input class="input-xxlarge" type="text" id="post-slug" name="slug" value="{{ escape(post.slug) }}" required="required" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <textarea class="input-xxlarge" rows="15" name="content">{{ post.content }}</textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="post-format">{{ _('Post Format') }}</label>
            <div class="controls">
                <select name="format" id="post-format">
                    <option value="standard"{% if post.format == 'standard' %} selected="selected"{% end %}>{{ _('Standard') }}</option>
                    <option value="aside"{% if post.format == 'aside' %} selected="selected"{% end %}>{{ _('Aside') }}</option>
                    <option value="gallery"{% if post.format == 'gallery' %} selected="selected"{% end %}>{{ _('Gallery') }}</option>
                    <option value="link"{% if post.format == 'link' %} selected="selected"{% end %}>{{ _('Link') }}</option>
                    <option value="image"{% if post.format == 'image' %} selected="selected"{% end %}>{{ _('Image') }}</option>
                    <option value="quote"{% if post.format == 'quote' %} selected="selected"{% end %}>{{ _('Quote') }}</option>
                    <option value="status"{% if post.format == 'status' %} selected="selected"{% end %}>{{ _('Status') }}</option>
                    <option value="video"{% if post.format == 'video' %} selected="selected"{% end %}>{{ _('Video') }}</option>
                    <option value="audio"{% if post.format == 'audio' %} selected="selected"{% end %}>{{ _('Audio') }}</option>
                    <option value="chat"{% if post.format == 'chat' %} selected="selected"{% end %}>{{ _('Chat') }}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="post-cat">{{ _('Category') }}</label>
            <div class="controls">
                <select name="category" id="post-cat">
                    {% for category in categories %}
                    <option value="{{ category.id }}"{% if post.category_id == category.id %} selected="selected"{% end %}>{{ escape(category.title) }}</option>
                    {% end %}
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="post-tags">{{ _('Tags') }}</label>
            <div class="controls">
                <input class="input-xxlarge" type="text" id="post-tags" name="tags" value="{{ post.tags_str }}" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="post-thumb">{{ _('Thumbnail') }}</label>
            <div class="controls">
                <input class="input-xxlarge" type="text" id="post-thumb" name="thumbnail" value="{{ post.thumbnail }}" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="post-excerpt">{{ _('Excerpt') }}</label>
            <div class="controls">
                <textarea class="input-xxlarge" id="post-excerpt" rows="4" name="excerpt">{{ post.excerpt }}</textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="post-date">{{ _('Date') }}</label>
            <div class="controls">
                <input class="input-xxlarge" type="text" id="post-date" name="date" value="{{ post.created.strftime('%Y-%m-%d %H:%M:%S') }}" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Allow Comment') }} ?</label>
            <div class="controls">
                <label class="radio inline">
                    <input type="radio" name="comment_open" value="1"{% if post.comment_open %} checked="checked"{% end %} />
                    {{ _('Open') }}
                </label>
                <label class="radio inline">
                    <input type="radio" name="comment_open" value="0"{% if not post.comment_open %} checked="checked"{% end %} />
                    {{ _('Close') }}
                </label>
            </div>
        </div>
        <div class="form-actions">
            <img class="loading hide" src="{{ static_url('images/loading.gif') }}" />
            <input class="btn btn-primary js-submit" type="submit" value="{{ _('Edit') }}" />
            <input class="btn js-reset" type="reset" value="{{ _('Reset') }}" onclick="javascript:document.getElementById('page-title').focus();" />
        </div>
    </fieldset>
</form>